h1 {
    color: white;
    text-shadow: none;
    text-transform: uppercase;
	letter-spacing: 5px;
}
h2 {
    color: white;
    text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h3 {
    color: white;
    text-shadow: none;
	letter-spacing: 7px;
}
.book1-outline {
  background-image: url('images/1-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book2-outline {
  background-image: url('images/2-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book3-outline {
  background-image: url('images/3-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book4-outline {
  background-image: url('images/4-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book5-outline {
  background-image: url('images/5-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book6-outline {
  background-image: url('images/6-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book7-outline {
  background-image: url('images/7-outline.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book1-solid {
  background-image: url('images/1-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book2-solid {
  background-image: url('images/2-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book3-solid {
  background-image: url('images/3-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book4-solid {
  background-image: url('images/4-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book5-solid {
  background-image: url('images/5-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book6-solid {
  background-image: url('images/6-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book7-solid {
  background-image: url('images/7-solid.png');
  background-size: 36px;
  background-position: top, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book-number {
	font-size: 110%;
	padding-left: 4px;
	letter-spacing: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	text-transform: uppercase;
	color: white;
	font-weight: bold; /* for solid only */
}
.book-title {
	padding-top: 13px;
	padding-bottom: 4px;
	text-overflow: inherit;
	white-space: nowrap;
	overflow: hidden;
	font-size: 88%;
	color:gray;
}
.books {
	background-color: #ffffff !important;
	padding: 0 0 0 0;
}
.citation {
	text-align: center;
	font-style: italic;
	font-size: small;
	padding-top: 5px;
}
.citation-b {
	text-align: center;
	font-style: italic;
	padding-top: 5px;
	font-size: 90%;
}
/* Placing footer at bottom of all pages */
.footer {
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
}
.header {
	font-size: 108%;
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 6px;
	padding-top:15px;
	padding-bottom:0px;
}
.heading {
	text-align: center;
	font-weight: bold;
}
.instructions {
	font-style: italic;
	font-size: 90%;
}
.panel-feedback {
	text-align: center;
	letter-spacing: 4px;
	font-size: small;
	padding-top: 13px;
}
.panel-header {
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 2px;
	padding-bottom: 9px;
}
.panel-title {
	text-align: center;
	white-space: normal;
	padding-top: 5px;
}
.panel-subtitle {
	text-align: center;
	font-size: small;
	font-style: italic;
	letter-spacing: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	white-space: normal;
	line-height: 18px;
}
.passage {
	text-align: justify;
}
.subheading {
	text-align: center;
	font-size: 84%;
	letter-spacing: 3.5px;
	padding-top: 5px;
	color: gray;
}
.ui-icon-left {
  background-image: url('images/left-white.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 16px 11px;
}
.ui-icon-left-black {
  background-image: url('images/left-black.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 16px 11px;
}
.ui-icon-more {
  background-image: url('images/dots-white.png');
  background-size: 9px;
  background-position: 5px 9px;
  background-repeat: no-repeat;
}
.ui-icon-more-black {
  background-image: url('images/dots-black.png');
  background-size: 9px;
  background-position: 5px 9px;
  background-repeat: no-repeat;
}
.ui-icon-next {
  background-image: url('images/right-gray.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: top;
}
.ui-icon-pdf {
  background-image: url('images/pdf.png');
  background-size: 16px;
  background-position: right 15px center;
  background-repeat: no-repeat;
}
.ui-icon-previous {
  background-image: url('images/left-gray.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: top;
}
.ui-icon-right {
  background-image: url('images/right-black.png');
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: right 20px center;
}

/* (Changed .ui-btn-left/right styles to .previous/next) */
/* To ensure same top and left/right position when previous/right are added to something other than buttons. */
.ui-header .previous,
.ui-header .next {
	font-size: 12.5px;
}
/* Buttons in header position classes */
.ui-header .previous,
.ui-header .next,
.previous > [class*="ui-"],
.next > [class*="ui-"] {
	margin: 0;
}
.previous,
.next {
	position: absolute;
	top: .24em;
}
.previous {
	left: .4em;
}
.next {
	right: .4em;
}
.ui-btn-icon-notext.previous {
	top: .3125em;
	left: .3125em;
}
.ui-btn-icon-notext.next {
	top: .3125em;
	right: .3125em;
}
/* fixed page header & footer configuration */
.ui-header-fixed .previous,
.ui-header-fixed .next {
	margin-top: 1px;
}
.ui-header-fixed.ui-fixed-hidden .previous,
.ui-header-fixed.ui-fixed-hidden .next {
	margin-top: 0;
}

/* Passage Pages Test */
h4 {
    color: #333333;
    text-shadow: none;
	letter-spacing: 7px;
}
h5 {
    color: #333333;
    text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: normal;
}
.footer-test {
	width:100%;
	height:50px;
	bottom:0;
	left:0;
	padding-bottom: 0px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 20%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 20%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.header-test {
	height:50px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.left-test {
	height: 20px;
	position:;
	left:10px;
	top: 0px
}
.next-test {
	height: 30px;
	position: absolute;
	right:10px;
	top: 8px
}
.passage-test {
	padding-top: 0px;
	margin-left: 14px;
	margin-right: 14px;
	text-align: justify;
}
.previous-test {
	height: 30px;
	position: absolute;
	left:10px;
	top: 8px
}
.section-test {
	text-align: right;
	font-size: 85%;
	padding-top: 5px;
	padding-right: 22px;
	color: gray;
	letter-spacing: 0.5px;
}
.section-test-bottom {
	text-align: center;
	font-size: 84%;
	padding-top: 19px;
	color: gray;
	letter-spacing: 2.5px;
}
.section-test-top {
	text-align: center;
	font-size: 88%;
	padding-top: 11px;
	color: gray;
	letter-spacing: 2.5px;
}
.ui-icon-left-test {
  background-image: url('images/left-gray.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 17px 14px;
}
.ui-icon-next-test {
  background-image: url('images/right-gray.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center 8px;
}
.ui-icon-previous-test {
  background-image: url('images/left-gray.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center 8px;
}
/* Lines Under Book Numbers */
/* .book1 {
  background-image: url('images/line.png');
  background-size: 35px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book2 {
  background-image: url('images/line.png');
  background-size: 38px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book3 {
  background-image: url('images/line.png');
  background-size: 54px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book4 {
  background-image: url('images/line.png');
  background-size: 48px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book5 {
  background-image: url('images/line.png');
  background-size: 40px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book6 {
  background-image: url('images/line.png');
  background-size: 30px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}
.book7 {
  background-image: url('images/line.png');
  background-size: 56px 1px;
  background-position: center, center;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
} */