h1 {
    color: white;
    text-shadow: none;
    text-transform: uppercase;
	letter-spacing: 5px;
}
h2 {
    color: white;
    text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h3 {
    color: white;
    text-shadow: none;
}
.center {
	text-align: center;
}
.passage {
	text-align: justify;
}
.comment {
	 font-style: italic;
	 font-size: 90%;
}
.ui-icon-right {
  background-image: url('images/right.png');
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: 95%;
}
.ui-icon-left {
  background-image: url('images/left-white.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-icon-next {
  background-image: url('images/right.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-icon-previous {
  background-image: url('images/left.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-icon-more {
  background-image: url('images/more.png');
  background-size: 9px;
  background-position: center;
  padding-bottom: 3px;
  background-repeat: no-repeat;
}
.book1 {
  background-image: url('images/book1.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book2 {
  background-image: url('images/book2.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book3 {
  background-image: url('images/book3.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book4 {
  background-image: url('images/book4.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book5 {
  background-image: url('images/book5.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book6 {
  background-image: url('images/book6.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book7 {
  background-image: url('images/book7.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.ui-icon-pdf {
  background-image: url('images/pdf.png');
  background-size: 16px;
  background-position: 95%;
  background-repeat: no-repeat;
}