/* Main Menu */

.header {
	height:81px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.9) 95%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.menu-heading {
	font-size: 19.5px;
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-weight: 900;
	color: #707070;
}
.menu-subheading {
	text-align: center;
	font-size: 14px;
	letter-spacing: 4px;
	padding-top: 4px;
	color: #909090;
	padding-bottom: 0px;
}
.left {
	height: 40px;
	width: 10px;
	position: relative;
	float: left;
}
.ui-icon-settings {
  background-image: url('images/settings.png');
  background-size: 28px;
  background-position: center 22px;
  background-repeat: no-repeat;
}
.right {
	height: 40px;
	width: 10px;
	position: relative;
	float: right;
}
.ui-icon-more {
  background-image: url('images/dots-gray.png');
  background-size: 12px;
  background-position: center 23px;
  background-repeat: no-repeat;
}
.book-wrapper {
	text-align:center;
	margin-bottom: 12px;
	/* background-color: #F8F8F8;
	border-color: #E8E8E8;
	border-width: 1px;
	border-style: solid; */
}
.book-title {
	font-size: 86%;
	letter-spacing: 1px;
	color: #404040 !important;
}
.book-1-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(191,30,98,1) !important;
}
.book-1-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/1-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 1px;
}
.book-1-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
	/* width: 150px; */
}
.book-2-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(213,58,54,1) !important;
}
.book-2-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/2-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.book-2-title-wrapper {
	line-height:45px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-3-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(234,118,35,1) !important;
}
.book-3-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/3-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 1px;
}
.book-3-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-4-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(247,164,46,1) !important;
}
.book-4-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/4-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
}
.book-4-title-wrapper {
	line-height:45px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-5-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(255,210,3,1) !important;
}
.book-5-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/5-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.book-5-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-6-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(255,226,96,1) !important;
}
.book-6-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/6-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 2px;
}
.book-6-title-wrapper {
	line-height:45px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-7-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(224,226,93,1) !important;
}
.book-7-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/7-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.book-7-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.menu-footer-a {
	text-align: center;
	letter-spacing: 2px;
	font-size: 84%;
	color: gray;
	padding-top: 5px;
}
.menu-footer-b {
	text-align: center;
	letter-spacing: 1.5px;
	font-size: 81%;
	color: gray;
	padding-bottom: 19px;
}

/* Panel */

.panel-header {
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 1px;
	padding-bottom: 11px;
	line-height: 25px;
	font-size: 17px;
}
.panel-title {
	text-align: center;
	white-space: normal;
	padding-top: 5px;
}
.panel-subtitle {
	text-align: center;
	font-size: small;
	font-style: italic;
	letter-spacing: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	white-space: normal;
	line-height: 18px;
}
.panel-feedback {
	text-align: center;
	letter-spacing: 4px;
	font-size: small;
	padding-top: 8px;
}

/* Passage Menus */

h2 {
    color: white;
    text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.ui-icon-left {
  background-image: url('images/left-white.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 16px 11px;
}
.ui-icon-left-black {
  background-image: url('images/left-black.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 16px 11px;
}
.ui-icon-pdf {
  background-image: url('images/pdf.png');
  background-size: 16px;
  background-position: right 15px center;
  background-repeat: no-repeat;
}
.ui-icon-right {
  background-image: url('images/right-black.png');
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: right 20px center;
}

/* Passages */

h3 {
    color: white;
    text-shadow: none;
	letter-spacing: 7px;
}
.passage {
	text-align: justify;
}
.citation {
	text-align: center;
	font-style: italic;
	font-size: small;
	padding-top: 5px;
}
.footer {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.ui-icon-previous {
  background-image: url('images/left-gray.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: top;
}
.ui-icon-next {
  background-image: url('images/right-gray.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: top;
}
.section-heading {
	text-align: center;
	font-weight: bold;
}
.instructions {
	font-style: italic;
	font-size: 90%;
}
.citation-b {
	text-align: center;
	font-style: italic;
	padding-top: 5px;
	font-size: 90%;
}

/* Passages Test */

h4 {
    color: #333333;
    text-shadow: none;
	letter-spacing: 7px;
}
h5 {
    color: #333333;
    text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: normal;
}
.footer-test {
	width:100%;
	height:50px;
	bottom:0;
	left:0;
	padding-bottom: 0px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 20%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 20%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 20%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.header-test {
	height:50px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.9) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0.9) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.left-test {
	height: 20px;
	position:;
	left:10px;
	top: 0px
}
.next-test {
	height: 30px;
	position: absolute;
	right:10px;
	top: 8px
}
.passage-test {
	padding-top: 0px;
	margin-left: 14px;
	margin-right: 14px;
	text-align: justify;
}
.previous-test {
	height: 30px;
	position: absolute;
	left:10px;
	top: 8px
}
.section-test {
	text-align: right;
	font-size: 85%;
	padding-top: 5px;
	padding-right: 22px;
	color: gray;
	letter-spacing: 0.5px;
}
.section-test-bottom {
	text-align: center;
	font-size: 84%;
	padding-top: 19px;
	color: gray;
	letter-spacing: 2.5px;
}
.section-test-top {
	text-align: center;
	font-size: 88%;
	padding-top: 11px;
	color: gray;
	letter-spacing: 2.5px;
}
.ui-icon-left-test {
  background-image: url('images/left-gray.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: 17px 14px;
}
.ui-icon-next-test {
  background-image: url('images/right-gray.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center 8px;
}
.ui-icon-previous-test {
  background-image: url('images/left-gray.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center 8px;
}

/* (Changed .ui-btn-left/right styles to .previous/next) */

/* To ensure same top and left/right position when left/right are added to something other than buttons. */
.ui-header .previous,
.ui-header .next {
	font-size: 12.5px;
}
/* Buttons in header position classes */
.ui-header .previous,
.ui-header .next,
.previous > [class*="ui-"],
.next > [class*="ui-"] {
	margin: 0;
}
.previous,
.next {
	position: absolute;
	top: .24em;
}
.previous {
	left: .4em;
}
.next {
	right: .4em;
}
.ui-btn-icon-notext.previous {
	top: .3125em;
	left: .3125em;
}
.ui-btn-icon-notext.next {
	top: .3125em;
	right: .3125em;
}
/* fixed page header & footer configuration */
.ui-header-fixed .previous,
.ui-header-fixed .next {
	margin-top: 1px;
}
.ui-header-fixed.ui-fixed-hidden .previous,
.ui-header-fixed.ui-fixed-hidden .next {
	margin-top: 0;
}