h1 {
    color: white;
    text-shadow: none;
    text-transform: uppercase;
	letter-spacing: 5px;
}
h2 {
    color: white;
    text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 5px;
}
h3 {
    color: white;
    text-shadow: none;
	letter-spacing: 7px;
}
.book1 {
  background-image: url('images/book1.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book2 {
  background-image: url('images/book2.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book3 {
  background-image: url('images/book3.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book4 {
  background-image: url('images/book4.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book5 {
  background-image: url('images/book5.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book6 {
  background-image: url('images/book6.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book7 {
  background-image: url('images/book7.png');
  background-size: 28px;
  background-position: left;
  background-repeat: no-repeat;
  text-overflow: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.book-number {
	padding-left: 42px;
	font-size: small;
	letter-spacing: 3px;
	padding-top: 4px;
	padding-bottom: 2px;
}
.book-title {
	padding-left: 42px;
	text-overflow: inherit;
	white-space: nowrap;
	overflow: hidden;
}
.center {
	text-align: center;
}
.citation {
	text-align: center;
	font-style: italic;
	font-size: small;
	padding-top: 5px;
}
.citation-b {
	text-align: center;
	font-style: italic;
	padding-top: 5px;
	font-size: 90%;
}
.comment {
	font-style: italic;
	font-size: 90%;
}
.footer {
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
}
.panel-feedback {
	text-align: center;
	letter-spacing: 4px;
	font-size: small;
	padding-top: 13px;
}
.panel-header {
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 2px;
	padding-bottom: 9px;
}
.panel-title {
	text-align: center;
	white-space: normal;
	padding-top: 5px;
}
.panel-subtitle {
	text-align: center;
	font-size: small;
	font-style: italic;
	letter-spacing: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	white-space: normal;
	line-height: 18px;
}
.passage {
	text-align: justify;
}
.ui-icon-left {
  background-image: url('images/left-white.png');
  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center;
}
.ui-icon-more {
  background-image: url('images/more.png');
  background-size: 9px;
  background-position: center;
  padding-bottom: 3px;
  background-repeat: no-repeat;
}
.ui-icon-next {
  background-image: url('images/next.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: top;
}
.ui-icon-pdf {
  background-image: url('images/pdf.png');
  background-size: 16px;
  background-position: right 15px center;
  background-repeat: no-repeat;
}
.ui-icon-previous {
  background-image: url('images/previous.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: top;
}
.ui-icon-right {
  background-image: url('images/right.png');
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: right 20px center;
}
/* (Changed .ui-btn-left/right styles to .previous/next) */
/* To ensure same top and left/right position when previous/right are added to something other than buttons. */
.ui-header .previous,
.ui-header .next {
	font-size: 12.5px;
}
/* Buttons in header position classes */
.ui-header .previous,
.ui-header .next,
.previous > [class*="ui-"],
.next > [class*="ui-"] {
	margin: 0;
}
.previous,
.next {
	position: absolute;
	top: .24em;
}
.previous {
	left: .4em;
}
.next {
	right: .4em;
}
.ui-btn-icon-notext.previous {
	top: .3125em;
	left: .3125em;
}
.ui-btn-icon-notext.next {
	top: .3125em;
	right: .3125em;
}
/* fixed page header & footer configuration */
.ui-header-fixed .previous,
.ui-header-fixed .next {
	margin-top: 1px;
}
.ui-header-fixed.ui-fixed-hidden .previous,
.ui-header-fixed.ui-fixed-hidden .next {
	margin-top: 0;
}