/* Main Menu */

/* Full Screen Header */

.menu-header-fs {
	height: 78px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.9) 95%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.menu-heading-fs {
	font-size: 19.5px;
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-weight: 900;
	color: #707070;
}
.menu-icon-left-fs {
	height: 40px;
	width: 10px;
	position: relative;
	float: left;
}
.menu-icon-right-fs {
	height: 40px;
	width: 10px;
	position: relative;
	float: right;
}
.menu-wrapper-child-fs { /* Vertically center numbers between header/footer on iPhone 6/Plus */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 417px;
	margin-bottom: 0;
	margin-top: -220px;
	margin-left: -150px;
	margin-right:0;
}
.book-wrapper-fs {
	text-align:center;
	margin-top: 4px;
	margin-bottom: 12px;
}

/* Header with Status Bar Background */

.menu-header-sb {
	height: 98px;
	background: url('images/status-bar.png') no-repeat, -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.9) 95%, rgba(255,255,255,0) 100%);
	background: url('images/status-bar.png') no-repeat, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%); 
	background: url('images/status-bar.png') no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%);
	filter: url('images/status-bar.png') no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );	
}
.menu-heading-sb {
	font-size: 19.5px;
	text-align: center;
    text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 35px;
	padding-bottom: 0px;
	font-weight: 900;
	color: #707070;
}
.menu-icon-left-sb {
	top: 23px;
	height: 40px;
	width: 10px;
	position: relative;
	float: left;
}
.menu-icon-right-sb {
	top: 23px;
	height: 40px;
	width: 10px;
	position: relative;
	float: right;
}
.menu-wrapper-child-sb { /* Vertically center numbers between header/footer on iPhone 6/Plus */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 399px;
	margin-bottom: 0;
	margin-top: -186px;
	margin-left: -150px;
	margin-right:0;
}
.book-wrapper-sb {
	text-align:center;
	margin-top: 1px;
	margin-bottom: 9px;
}

/* .ui-icon-menu-dots {
  background-image: url('images/dots-light-gray.png');
  background-size: 4.5px;
  background-position: center 16px;
  background-repeat: no-repeat;
} */
/* .menu-wrapper-parent {
	position: relative;
} */
.menu-subheading {
	text-align: center;
	font-size: 14px;
	letter-spacing: 4px;
	padding-top: 4px;
	color: #909090;
	padding-bottom: 0px;
}
.ui-icon-quotation-mark {
  background-image: url('images/quotation-mark.png');
  background-size: 14px;
  background-position: center 19px;
  background-repeat: no-repeat;
}
.ui-icon-menu-ellipse {
  background-image: url('images/ellipse-light.png');
  background-size: 18px;
  background-position: center 26px;
  background-repeat: no-repeat;
}
.book-title {
	font-size: 86%;
	letter-spacing: 1px;
	color: #404040 !important;
	display: block; /* Make entire area clickable */
}
.book-1-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(191,30,98,1) !important;
}
.book-1-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/1-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 1px;
}
.book-1-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-2-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(213,58,54,1) !important;
}
.book-2-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/2-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 2px;
}
.book-2-title-wrapper {
	line-height:45px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-3-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(234,118,35,1) !important;
}
.book-3-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/3-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 1px;
}
.book-3-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-4-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(247,164,46,1) !important;
}
.book-4-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/4-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
}
.book-4-title-wrapper {
	line-height:45px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-5-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(255,210,3,1) !important;
}
.book-5-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/5-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.book-5-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-6-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(255,226,96,1) !important;
}
.book-6-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/6-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 2px;
}
.book-6-title-wrapper {
	line-height:45px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.book-7-number {
	font-size: 145%;
	font-weight: bold !important;
	color: rgba(224,226,93,1) !important;
}
.book-7-number-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/7-outline.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.book-7-title-wrapper {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	display: inline-block;
	margin-left: 10px;
	background-image: url('images/');
	background-size: 5px;
	background-position: right, center;
	background-repeat: no-repeat;
}
.menu-footer {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.menu-footer-top {
	text-align: center;
	letter-spacing: 2px;
	font-size: 84%;
	color: gray;
	padding-top: 10px;
}
.menu-footer-bottom {
	text-align: center;
	letter-spacing: 1.5px;
	font-size: 81%;
	color: gray;
	padding-bottom: 20px;
}

/* Panels */

.ui-panel {
	width: 17em;
	/* min-height: 528px !important;
	max-height: 528px !important;
	height: 528px !important; */
	min-height: 100%;
	max-height: none;
	border-width: 0;
	position: absolute;
	top: 20px;
	display: block;
}
.ui-panel.ui-panel-open {
	position:fixed;
}
.ui-panel-inner {
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 20px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.label {
	text-align: center;
	color: #333333;
	letter-spacing: 1px;
}
.note {
	text-align: center;
	font-size: 70%;
	font-style: italic;
	color: #707070;
}
.feedback {
	text-align: center;
	font-size: small;
	letter-spacing: 1px;
	padding-bottom: 4px;
	white-space: normal;
}
.panel-heading {
	font-size: 16px;
	text-align: center;
    text-transform: lowercase;
	letter-spacing: 3px;
	padding-top: 0px;
	padding-bottom: 10px;
	color: #707070;
	font-weight: 500;
}
.panel-title {
	text-align: center;
	white-space: normal;
	padding-top: 5px;
}
.panel-subtitle {
	text-align: center;
	font-size: small;
	font-style: italic;
	letter-spacing: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	white-space: normal;
	line-height: 18px;
}
.panel-footer {
	text-align: center;
	letter-spacing: 3px;
	font-size: small;
	padding-top: 12px;
}

/* Passage Menus */

/* Full Screen Header */

.passage-menu-header-fs {
	height: 50px;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.9) 95%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.passage-menu-heading-fs {
	font-size: 16px;
	text-align: center;
    text-transform: lowercase;
	letter-spacing: 3px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-weight: 700;
	color: #707070;
}
.passage-menu-icon-left-fs {
	height: 22px;
	width: 10px;
	position: relative;
	float: left;
}
.passage-menu-icon-right-fs {
	height: 22px;
	width: 10px;
	position: relative;
	float: right;
}

/* Header with Status Bar Background */

.passage-menu-header-sb {
	height: 70px;
	text-align: center;
	background:  url('images/status-bar.png') no-repeat, -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0.9) 95%, rgba(255,255,255,0) 100%);
	background:  url('images/status-bar.png') no-repeat, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%); 
	background:  url('images/status-bar.png') no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0.9) 95%,rgba(255,255,255,0) 100%);
	filter:  url('images/status-bar.png') no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.passage-menu-heading-sb {
	font-size: 16px;
	text-align: center;
    text-transform: lowercase;
	letter-spacing: 3px;
	padding-top: 35px;
	padding-bottom: 0px;
	font-weight: 700;
	color: #707070;
}
.passage-menu-icon-left-sb {
	top: 23px;
	height: 22px;
	width: 10px;
	position: relative;
	float: left;
}
.passage-menu-icon-right-sb {
	top: 23px;
	height: 22px;
	width: 10px;
	position: relative;
	float: right;
}

.ui-icon-menu-outline {
  background-image: url('images/menu-outline.png');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 16px 11px;
}
.ui-icon-blank {
  background-image: url('images/blank.png');
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: 16px 19px;
}
.ui-listview > .ui-li-static,
.ui-listview > .ui-li-divider,
.ui-listview > li > a.ui-btn {
	border-width: 4px 0 0 0;
	border-style: solid;
}
.pdf {
	text-align: left;
	background-image: url('images/external.png');
	background-size: 16px;
	background-position: right 14px center;
	background-repeat: no-repeat;
}
.ui-icon-right {
  background-image: url('images/right-black.png');
  background-size: 5px;
  background-repeat: no-repeat;
  background-position: right 20px center;
}

/* Passages */

/* Full Screen Header */

.passage-header-fs {
	height:50px;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.9) 90%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.passage-icon-left-fs {
	height: 22px;
	width: 10px;
	position: relative;
	float: left;
}
.section-number-fs {
	text-align: center;
	font-size: 92%;
	padding-top: 16px;
	color: gray;
	letter-spacing: 2.5px;
}
.passage-icon-right-fs {
	height: 22px;
	width: 10px;
	position: relative;
	float: right;
}

/* Header with Status Bar Background */

.passage-header-sb {
	height:70px;
	background: url('images/status-bar.png') no-repeat, -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0.9) 90%, rgba(255,255,255,0) 100%);
	background: url('images/status-bar.png') no-repeat, -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,0) 100%); 
	background: url('images/status-bar.png') no-repeat, linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,0.9) 90%,rgba(255,255,255,0) 100%);
	filter: url('images/status-bar.png') no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.passage-icon-left-sb {
	top: 23px;
	height: 22px;
	width: 10px;
	position: relative;
	float: left;
}
.section-number-sb {
	text-align: center;
	font-size: 92%;
	padding-top: 36px;
	color: gray;
	letter-spacing: 2.5px;
}
.passage-icon-right-sb {
	top: 23px;
	height: 22px;
	width: 10px;
	position: relative;
	float: right;
}

.ui-icon-passage-list {
  background-image: url('images/list.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 22px 16px;
}
.ui-icon-passage-blank {
  background-image: url('images/blank.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 16px 14px;
}
.passage {
	padding-top: 0px;
	margin-left: 14px;
	margin-right: 14px;
	text-align: justify;
}
.citation {
	text-align: center;
	font-style: italic;
	font-size: small;
	padding-top: 5px;
	color: gray;
}
.passage-footer {
	width:100%;
	height:50px;
	bottom:0;
	left:0;
	padding-bottom: 0px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 10%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.previous-passage {
	height: 30px;
	position: absolute;
	left:10px;
	top: 8px;
}
.ui-icon-previous-passage {
  background-image: url('images/left-gray.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center 5px;
}
.next-passage {
	height: 30px;
	position: absolute;
	right:10px;
	top: 8px;
}
.ui-icon-next-passage {
  background-image: url('images/right-gray.png');
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center 5px;
}

/* Additional Resources */

/* Full Screen Header */

.resource-heading-fs {
	text-align: center;
	font-size: 90%;
	padding-top: 16px;
	color: gray;
	letter-spacing: 0px;
}
.panel-button-fs {
	height: 22px;
	width: 10px;
	position: relative;
	float: right;
}

/* Header with Status Bar Background */

.resource-heading-sb {
	text-align: center;
	font-size: 90%;
	padding-top: 36px;
	color: gray;
	letter-spacing: 0px;
}
.panel-button-sb {
	top: 23px;
	height: 22px;
	width: 10px;
	position: relative;
	float: right;
}

.ui-icon-resources-dots {
  background-image: url('images/dots-gray.png');
  background-size: 4px;
  background-position: center 13.5px;
  background-repeat: no-repeat;
}
.ui-icon-resources-ellipse {
  background-image: url('images/ellipse-dark.png');
  background-size: 22px;
  background-position: center 22px;
  background-repeat: no-repeat;
}
.section-heading {
	text-align: center;
	font-weight: bold;
}
.instructions {
	font-style: italic;
	font-size: 90%;
}
.resource-heading-bottom {
	text-align: center;
	font-size: 90%;
	padding-top: 16px;
	color: gray;
	letter-spacing: 0px;
}

/* Solid Theme */

/* .book-number-white {
	font-size: 145%;
	font-weight: bold !important;
	color: white !important;
}
.book-1-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/1-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 1px;
}
.book-2-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/2-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 2px;
}
.book-3-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/3-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 1px;
}
.book-4-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/4-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
}
.book-5-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/5-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.book-6-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/6-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 8px;
	padding-left: 2px;
}
.book-7-number-wrapper-solid {
	display: inline-block;
	vertical-align: top;
	width: 49px;
	height: 41px;
	background-image: url('images/7-solid.png');
	background-size: 48px;
	background-position: top, center;
	background-repeat: no-repeat;
	padding-top: 9px;
	padding-left: 2px;
}
.ui-icon-menu-solid {
  background-image: url('images/menu-solid.png');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: 16px 11px;
} */